.fa-cogs{
    color:#e0acfa;
    color: #ff7f50;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px  #b789ef;
  }
  to {
    text-shadow: 0 0 30px  #b789ef; 
  }
}

h2{
    color: #ebccfb;
    color: #ff7f50;
    margin-left: 570px;
    animation: glow 60s infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 50px  #b789ef;
    }
    to {
      text-shadow: 0 0 30px  #b789ef; 
    }
}

table{
  margin-left: 180px;
}

td{
  color: #bd55f2;
  color: #008080;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
  padding: 30px;
}

td>i{
  color: #ebccfb;
  color: #ff7f50;
}

th{
  color: #ebccfb;
  color: #ff7f50;
  font-size: larger;
  padding: 30px;
  text-align: center;
}

a{
  color: #bd55f2;
  color: #008080;
  text-decoration:none;
}

.fa-up-right-from-square{
  color: #ebccfb;
  color: #ff7f50;
}



